/* ScrollBar
   ================================================================ */
   body::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
  }
  body::-webkit-scrollbar-track {
    background-color: #2e2e2e;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #8c8c8c;
    -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.2);
    border: 3px solid #2e2e2e;
  }
  body.modal-open {
    padding-right: 0px!important;
}
.logo img { 
    max-height: 100px; 
}
img#logo-img{
    /* max-height: 95px; */
    width: 80%;
    padding: 6px 0px;
}
a:hover{
    text-decoration: none;
}
.navbar-me{
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 999;
}
.logo {
    min-width: 160px;
    text-align: left;
    padding-left: 0.8em;
}
.top_bar {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}
._lft a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
._lft a img {
    max-width: 18px;
    margin-right: 8px;
}
._lft select {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 5px;
    margin: 0 1em;
    font-size: 16px;
}
._lft select>option {
    background: #000000!important;
}
._ryt a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
}
._ryt a img {
    padding-right: 10px;
}
.input-group._searchBar{
    max-width: 60%;
    margin: 0 auto;
}
.input-group._searchBar input,
.input-group._searchBar.active input{
    background: transparent;
    color: white;
    border-color: white;
    font-size: 16px;
    outline: none;
    box-shadow: none;
}
.input-group._searchBar input::placeholder{
    color: white;
}
._searchBar .input-group-append .btn{
    border: 1px solid white!important;
    outline: none!important;
    box-shadow: none!important; 
}
p._loginLink {
    text-align: center;
    min-width: 180px;
    color: white;
}
p._loginLink a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

p._loginLink a img {
    vertical-align: middle;
    width: 20px;
}

.banner {
    position: relative;
    background: url('../img/banner.png')no-repeat;
    min-height: 700px;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner>div {
    padding-left: 5em;
    z-index: 99;
}

.banner>div h1, 
.banner>div h4{    
    color: white;
    /* font-family: 'Newsreader', serif; */
    font-family: 'Roboto Slab', serif;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.banner>div h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 22px;
    
}
.banner>div h1 span{
    color: #d55c91;
    font-size: 45px;
    
}
/* .modal_logo{
    max-height: 100px;
    width: 100px;
} */
.lognModal .modal-header{
    border: 0px;
}

input[type="password"]{
    padding-right: 40px
}
p#forgot_pswd {
    text-align: right;
    position: relative;
       
}
p#forgot_pswd a{
    color: #D66292;
    font-size: 16px; 
    text-decoration: none;
    font-weight: 600;
}
.mb_1{
    margin-bottom: 10px!important;
}

p.sign-Up {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
p.sign-Up a {
    color: #d66292;
    text-decoration: underline;
}

span.field-icon {
    position: absolute;
    right: 14px;
    bottom: 18px;
    background: white;
    cursor: pointer;
}
.pswdModal h5.modal-title,
.SignUp-Modal h5.modal-title{
    font-size: 22px;
    font-weight: 600;
}
.pswdModal .modal-header, 
.pswdModal .modal-footer,
.SignUp-Modal .modal-header, 
.SignUp-Modal .modal-footer{
    border: 0px
}

.pswdModal button.close, 
.SignUp-Modal button.close{
    position: absolute;
    top: 25px;
    right: 28px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 0;
    height: 35px;
    width: 35px;
    font-size: 1.8em;
    font-weight: 500;
    padding: 8px 8px 16px 8px!important;
    box-shadow: none!important;
    outline: none!important;
}

.themeModal button.close{
    position: absolute;
    top: 25px;
    right: 28px;
    background: #d55c91;
    color: white;
    border-radius: 50%;
    line-height: 0.8;
    height: 35px;
    width: 35px;
    font-size: 1.8em;
    font-weight: 500;
    padding: 8px 8px 16px 8px!important;
    box-shadow: none!important;
    outline: none!important;
    opacity: 1!important;
}
.login-btn,.theme-btn, a._btn{
    background: #d55c91;
    color: white;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    text-transform: uppercase;
    outline: none!important;
    box-shadow: none!important;
}
.login-btn:hover, .theme-btn:hover{
    color: white;
}
a._btn {
    display: block;
    min-width: 75px;
    max-width: 100px;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    margin: 2em auto;
    margin-bottom: 0.5em;
    color: white!important;
}
.imgOuter._imgOutr{
    position: relative;
}
.imgOuter._imgOutr a._btn.book{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    color: white!important;
    z-index: 9;
    border: 1px solid #efefef9a;
}
.nearShops._nrShops ul li .card{
    overflow: hidden;
    width: 100%;
}
.nearShops._nrShops .card:hover .imgOuter._imgOutr::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 25%);
    content: '';
}
.nearShops._nrShops .card:hover .imgOuter._imgOutr a._btn.book{
    display: block;
}

.servcs_card .card-body h6,
.servcs_card .card-body h5{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.servcs_card:hover a._btn.book{
    display: block;
    position: absolute;
    bottom: .75em;
    left: 0;
    right: 0;
    margin: 0 auto;
} 
.servcs_card a._btn.book {
    display: none;
}
.login-btn{
    margin: 0.5em 0em;
}
.login .logo{
    max-width: 100%;
    margin-bottom: 30px;
}

.login form {
    min-width: 350px;
    max-width: 70%;
    margin: 0 auto;
}


.login .form-group {
    position: relative;
    margin-bottom: 2rem
}
.login textarea.form-control {
    max-height: 200px;
    min-height: 130px;
}
.login .form-control-placeholder {
    position: absolute;
    top: 10px;
    left: 12px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    color: grey
}
.form-group label.text-red {
    position: absolute;
    font-size: 12px;
    color: #e64000;
  }
.login .form-control:focus + .form-control-placeholder,
.login .form-control:valid + .form-control-placeholder {
    font-size: 90%!important;
    transform: translate3d(0, -100%, 0)!important;
    opacity: 1!important;
    background-color: white;
    color: #d66292;
}
.form-group.active>.form-control-placeholder{
    font-size: 90%!important;
    transform: translate3d(0, -100%, 0)!important;
    opacity: 1!important;
    background-color: white;
    color: #d66292;
}
.login .form-control {
    background: transparent;
    border: none;
    border: 1px solid #a6a6a6;
    box-shadow: none!important;
    border-radius: 0px!important;
    /* padding: 1.5em .75rem; */
    min-height: 50px;
    color: black;
    font-size: 1rem;
}

section.categories{
    padding: 3em 2em
}

ul.category_item{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.category_item li {
    position: relative;
}
.img_circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #b79e65;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    transition: all .25s;
}


.img_circle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
ul.category_item li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75px;
    text-align: center;
    font-size: 14px;
    padding: 6px;
    border-radius: 3px;
    opacity: 0;
    z-index: 99;
    transition: all .25s;
}

ul.category_item li:hover a{
    opacity: 1;
}
ul.category_item li:hover .img_circle::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000071;
    z-index: 1;
}
ul.category_item li p{
    text-align: center;
    font-weight: 500;
    color: #000;
    font-size: 16px;
    margin-top: 1em;
}
.theHdng {
    text-align: center;
    max-width: 400px;
    margin: 0 auto; 
    padding-bottom: 2em;
}

.theHdng h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    position: relative;
    padding-bottom: 1em;
}
.theHdng h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    background: url('../../assets/img/icons/line.png')no-repeat;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    display: block;
    background-position: center;
}
h3.subHdng {
    margin-bottom: 1em;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.category_item .owl-buttons {
    display: none;
}

section.nearShops{
    padding: 3em 0em;
    background: url('../../assets/img/bg/near_shops.jpg')no-repeat;
    background-size: cover;
    
}
section.nearShops ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    max-width: 95%;
}

section.nearShops ul li p {
    margin-bottom: 6px;
}
section.nearShops ul li p span {
    padding-left: 8px;
}
section.nearShops ul li p a {
    color: #101010; 
    padding-left: 8px;
}
section.nearShops ul li p i {
    min-width: 18px;
    display: inline-block;
    text-align: center;
}
a.btnViewMore {
    margin-top: 3em;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #d66292;
    border-radius: 5px;
    padding: 6px 10px;
    color: #d66292;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;

}

.ourLtstNews{
    padding: 3em 0em;
}


.theNewsCard {
    display: flex;
    align-items: flex-start;
    height: 262px;
    overflow: hidden;
    max-width: 94%;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 5px;
}

div.newsImg{
    width: 60%;   
    height: 100%; 
    overflow: hidden;
}
.theNewsCard .newsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.theNewsCard div.content {
    width: 65%;
    padding: 0.6em 1em;
}

.theNewsCard h4{
    color: #d66292;
    font-weight: 600;
}
.theNewsCard div.content p,
.theNewsCard div.content h5 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #101010;
}

.theNewsCard div.content h5 {
    position: absolute;
    bottom: 12px;
}

section.footer{
    background: #000;
    padding: 1em 0em;
    padding-bottom: 0
}

img.ftr_logo{
    max-height: 100px;
}

span.bordrHdng{   
    background: url('../../assets/img/icons/line.png')no-repeat;
    width: 100%;
    height: 20px;
    margin: 1em auto;
    display: block;
    background-position: center;
}

.footer h4{
    margin-bottom: 1em;
    color: white;
}
.c_info, .socialLinks, .quickLinks {
    color: white;
    padding: 2em;
}
.c_info p{
    margin-bottom: 10px;
}
.c_info p a {
    padding-left: 1em;
    color: white;
    font-size: 18px;
}
.quickLinks ul {
    list-style-type: none;
    padding-left: 1em;
}

.quickLinks ul li a{
    color: white;
    display: block;
    margin-bottom: 10px
}
.socialLinks ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 150px;
}
.socialLinks ul li {
    width: 20%;
    text-align: center;
    margin: 5px 8px;
}
.copyright {
    color: white;
    text-align: center;
    border-top: 1px solid white;
    padding: 1.25em;
}
.copyright p{
    margin-bottom: 0;
}

.copyright strong{
    font-weight: 500;
    color: #d66292;
}
.align-center{
    text-align: center;
}

.social-icons img{
    height:30px;
}

.social-icons p{
    font-size: 12px;
}

.modal.socialLoginModal .modal-dialog {
    width: 100%;
    max-width: 600px;
}




#OTPform {
    max-width: 330px;
    margin: 0px auto 0;
}
.Flx_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 235px;
    margin: 1em auto;
}
    #OTPform input {
      color: black!important;
      display: inline-block;
      margin: 0 5px;
      text-align: center;
      line-height: 40px;
      font-size: 40px;
      border: solid 1px #ccc;
      box-shadow: 0 0 5px #ccc inset;
      outline: none;
      width: 20%;
      transition: all .2s ease-in-out;
      border-radius: 3px;
    }
    #OTPform input:focus {
        border-color: #d66292;
        box-shadow: 0 0 5px #d66292 inset;
    }
      
    #OTPform input::selection {
        background: transparent;
    }
    #OTPform p {
        text-align: center;
    }
    #OTPform p a{
        color: #d66292;
        text-decoration: none;
        font-weight: 500;
    }


    .revealOnScroll{
        opacity: 0;
    }
    .revealOnScroll.animated {
        opacity: 1!important;
    }   

    /* ************star ratings ********** */
    .stars-outer {
        position: relative;
        display: inline-block;
      }
      
      .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
      }
      
      .stars-outer::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #ccc;
      }
      
      .stars-inner::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #f8ce0b;
      }

  /* ************star ratings css end ********** */


  .mainDiv._bgWyt{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 100vh;    
    padding: 1em;
    max-width: 75%;
    display: initial!important;
  }
  
  ul.myaccnt_menu {
    padding: 0;
    list-style-type: none;
}
ul.myaccnt_menu li {
    margin: 6px 0;
}
ul.myaccnt_menu li a {
    display: block;
    padding: 8px;
    line-height: 1.4;
    padding-left: 2em;
    color: #101010;
    font-weight: 500;
    position: relative;
}
ul.myaccnt_menu li a.active {
    color: #fff!important;
    background: #d66292;
}
ul.myaccnt_menu li a:hover {
    color: #d55c91;
}
ul.myaccnt_menu li a.active::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: #bb4979;
}
.d-flex.myFlex ._aside.myaccnt_aside{
    padding: 0;
}
.d-flex.myFlex .myaccnt_aside h5.subHdng {   
    margin: 0.7em;
    margin-bottom: 1.5em;

}





.pro_img img {
    width: 100%;
    height: 100%;
}
.profile_details {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 0em 2em;
}

.profile_details span, .profile_details p {
    text-align: left;
    display: block;
}
.profile_details span{
    font-size: 14px;
    margin-bottom: 10px;
    color: #101010c9;
    font-weight: 500;
}
.profile_details p {
    font-size: 16px;
    font-weight: 500;
    color: #101010c9;
}

.profile_details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile_details ul li{
    margin-bottom: 2em;
}

.pro_img {
    text-align: center;
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.5em;
}
 

/*Profile Pic Start*/
.picture-container{
    position: relative;
    text-align: center;
}
.picture{
    width: 120px;
    height: 120px;
    /* background-color: #999999; */
    /* border: 4px solid #CCCCCC; */
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    /* overflow: hidden; */
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    position: relative;
}
.picture-src:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    height: 100%;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
}
.picture-container i.fa-camera{
    right: -12px;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    color: #d66292;
    background: #ececec;
    padding: 8px;
    border-radius: 50%;
}


/*Profile Pic End*/

h4.usrName{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.proCircle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.proCircle img {
    width: 40px;
    height: auto;
}

.inBlk {
    display: inline-block;
    vertical-align: middle;
    padding: 0em 0.5em;
    min-width: 55px;
}

.editBtnBlock form {
    min-width: 350px;
    max-width: 350px;
    margin: 0 auto;
}
.wdthLmt{
    max-width: 500px;
    margin: 0 auto;
}
.editBtnBlock form button.btn.theme-btn{
    border-radius: 5px;
}


.mainDiv .card._bookngsCrd {
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between; 
    flex: initial;
    margin: 0;
    margin-bottom: 1.35em;
    border-radius: 6px;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

._bookngsCrd .crdImg {
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
._bookngsCrd .crdImg img {
    width: 100%;
}
._bookngsCrd .crd_desc {
    margin-left: 1em;
    width: 50%;
}
._bookngsCrd .crd_desc p{
    margin-bottom: 6px;
}
._bookngsCrd .crd_desc i {
    min-width: 18px;
    display: inline-block;
    text-align: center;
}
._bookngsCrd .crd_desc p span,
._bookngsCrd .crd_desc p a  {
    color: #101010;
    padding-left: 8px;
}
.crd_Btns {
    min-width: 24%;
    margin: 1em 0;
}
._bookngsCrd .crd_Btns a {
    display: block;
    margin: 1.5em 0;
    text-align: center;
    border-radius: 5px;
}
a.theme-btn._greyBg {
    background: #eaeaea;
    color: #d55c91;
}
a.theme-btn._cancel {
    background: #eaeaea;
    color: red;
}
a.theme-btn._grn {
    background: #eaeaea;
    color: rgb(2 206 72);
}


button.swal2-confirm.swal2-styled {
    background: #D66292!important;
    border-left-color: #D66292!important;
    border-right-color: #D66292!important;
    outline: none!important;
    box-shadow: none!important;
}
button.swal2-cancel.swal2-styled {
    background-color: rgb(90 90 90)!important;
    outline: none!important;
    box-shadow: none!important;
}
  

.simple-rating i{
	color: #f5ba00;
	display: inline-block;
	padding: 1px 2px;
	cursor: pointer;
    font-size: 1.3em;
}
.mainDiv.cat-data a._btn {
    margin: 0em auto;
    margin-bottom: 0;
    /*opacity: 0;*/
    transition: all .25s;
}
.mainDiv.cat-data .card:hover a._btn{
    opacity: 1;
}
.imgOuter {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}
.imgOuter img, .imgOuter1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgOuter1 {
    max-height: 188px;
    max-width: 270px;
    overflow: hidden;
}
.nearShops ul li .card{
    overflow: hidden; 
}
.nearShops ul li .card img,
.card._bookngsCrd img{
    transition: all .3s;
}
.nearShops ul li .card:hover img,
.card._bookngsCrd:hover img {
    transform: scale(1.085);
}
.card._bookngsCrd._notfctns img{
    transform: none!important;
}
.bookModalBlock .modal-dialog{
    width: 100%;
    max-width: 700px;
}
.modal-body.book-modal .col_ryt a.btnViewMore{
    margin-top: 1em;
}
.m-2.col_ryt {
    padding: 0em 1em;
}
.book-modal .card  {
    padding: 0.5em;
    margin: 2em;
}


input.form-check-input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    left: 14px;
}

.boxedList {
    padding: .5em;
    border: 1px solid #a6a6a6;
}
.boxedList p {
    margin-bottom: 10px;
}
.boxedList ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.boxedList ul li {
    flex: 0 0 22%;
    list-style-type: none;
    margin: 0.5em 0.25em;
    max-width: 100px;
    text-align: center;
}
.boxedList ul li a {
    background: #ccc;
    padding: 3px;
    font-size: 14px;
    color: #101010;
    display: block;
    border-radius: 6px;
    font-weight: 500;
}
 
  .boxedList input[type="radio"] {
    display: none;
  }
  
  .boxedList label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0;
  }
  
  .boxedList input[type="radio"]:checked+label {
    background-color: #D66292;
    color: white;
  }

.flxRow{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.custom-checkbox .form-check-label{
    user-select: none;
}
.form-check-label:before{
    background-color:red;
  }
  .custom-checkbox .form-check-input:checked~.form-check-label::before{
    background-color:black;
  }
  .custom-checkbox .form-check-input:checked~.form-check-label::after{   
    /* background:url("../../assets/img/icons/checked.png")no-repeat;
    background-position: center; */
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='hotpink' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    position: absolute;
    background-size: 18px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    top: 5px;
    left: -6px;
    border: 1px solid #6f6e6e;
    border-radius: 3px;
 }
 

 .card._bookngsCrd._discount .crd_desc {
    width: 75%;
}
.card._bookngsCrd._discount h5.card-title {
    color: #d66292;
}
.card._bookngsCrd._discount h5.card-title span{
    color: #101010;
} 

.card._bookngsCrd._notfctns .crd_desc {
    width: 90%;
} 
.card._bookngsCrd._notfctns .crd_Btns {
    min-width: 140px;
    margin: 1em 0;
}
.refer_N_earn{
    max-width: 800px;
    margin: 0 auto;
}
.refer_N_earn .refrImgBg{
    width: 100%;
}

.refr_content {
    padding: 2em;
    text-align: center;
}
.refr_content h5 {
    margin-bottom: 0.75em;
    font-size: 20px;
    color: #101010;
}
.refr_content a>img {
    max-height: 40px;
}

 

/* // Share URL Component */
 
 

.shareUrl-body {
  margin-bottom: 2em;
}
.shareUrl-input {
  width: 100%;
  padding: 10px 0;
  border: 2px dashed #d66292;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  background: transparent;
  border-radius: 3px;
  transition: all 300ms ease;
}
  .shareUrl-input:hover,
  .shareUrl-input:focus,
  .shareUrl-input:active {
    border: 2px dashed #d66292;
    background: #d66292;
    color: #fff;
    user-select: none;
  }
  .imgOutBox {
    height: 280px;
    overflow: hidden;
}
.imgOutBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.threeFive.f-2x {
    font-size: 1.5em;
    font-weight: 600;
}
._font{
    font-family: "Poppins",sans-serif;
}
h2._font{ 
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}
._slon p{
    font-size: 20px;
    font-weight: 500;
    margin: 0.5em 0em;
}
.ourSrvice {
    margin-top: 2em;
}
.nearShops .ourSrvice ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 100%;
}
.nearShops .ourSrvice ul li{
    flex: 0 0 18%;
    max-width: 18%;
    margin: .5em 0.45em;
}
.ourSrvice .imgBoxx {
    width: 230px;
    height: 190px;
    position: relative;
} 
.ourSrvice .imgBoxx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourSrvice .imgBoxx a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}
.ourSrvice .imgBoxx::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
}

.mL80{
    margin-left: 80px;
}





/* // Media Queries */
@media (min-width: 568px) {
   
  .shareUrl-input {
    max-width: 400px;
    font-size: 25px;
    color: #d66292;
  }
   
}
 



  /******** mobile responsive ***** */

    @media (max-width: 767px) {
        .mL80{
            margin-left: 0px;
        }
        .nearShops .ourSrvice ul{
            flex-flow: column;
        }
        .nearShops .ourSrvice ul li{
            flex: 0 0 100%;
            max-width: 100%;

        }
        .servcs_card a._btn.book {
            display: block;
        }
        .revealOnScroll{
            opacity: 1;
        }
        .section-title h5 {
            margin-bottom: 5px;
            font-size: 26px;
            line-height: 26px;
        }
        .row.ttm-fid-row-wrapper.p-5 {
            padding: 1em 1em!important;
        }
      }

/* Abhisek Panda Styles */
.salon-search {
    padding: 50px 0 0 0;
    background: #d2598e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-text {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Poppins';
}
.header-text span {
    font-weight: 700;
}
.p-compare-input {
    margin-top: 3rem;
    position: relative;
}
.p-compare-input .input-icon {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 30px;
    transform: translate(0,-50%);
    font-size: 20px;
    color: #aaa;
}
.p-compare-input input {
    padding-left: 40px;
    text-transform: capitalize;
}
.p-compare-input input::placeholder {
    font-size: 15px;
    text-transform: capitalize;
}

.form-control-white {
    background: #fff;
    border-radius: 5px !important;
}
.form-control-white:focus {
    color: #fff;
}
.salon-tab-content {
    padding: 50px 0;
    background: #F5F6F1;
}
.salon-tab-content .table thead th {
    background: #d2598e;
    color: #fff;
    font-weight: 400;
    border: none;
}
.salon-tab-content table {
    border-spacing: 2px;
    border-collapse: separate;
}
.salon-tab-content .table td {
    border: 1px solid #ccc !important;
}
.salon-tab-content .table td a {
    color: #d06690;
}
.salon-tab-content .table td a:hover, .salon-tab-content .table td a:focus {
    color: #ec046a;
}
.tab-links {
    margin-top: 50px;
}
.tab-links li a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
}
.tab-links li {
    background: #58595B;
    padding: 10px 0;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}
.tab-links li.active, .tab-links li:hover, .tab-links li:focus {
    background: #E093B7;
}
.tab-links li a img {
    width: 29px;
    vertical-align: bottom;
}
.tab-links li a span, .tab-links li a img {
    margin-right: 5px;
}
.pe-ico {
    color: #58595b;
    font-weight: 700;
    background: #fff;
    padding: 6px;
    border-radius: 50%;
}
.salonee-mascot {
    position: absolute;
    top: 21%;
    left: 5%;
}
.salonee-mascot img {
    width: 120px;
}
.filter-box {
    margin-bottom: 20px;
}
.filter-box ul {
    padding: 0;
}
.filter-box ul li {
    display: inline-block;
    margin-right: 5px;
}
.btn-filters {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 17px;
}

@media only screen and (min-width:1200px) {
    .salon-search {
        margin-top: 155px;
    }
    .salon-tab-content .container {
        max-width: 991px;
    }
    .btn-filters {
        width: 152px;
    }
}
.btn-filters .pe-7s-edit {
    transform: rotate(90deg);
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
@media only screen and (max-width:600px) {
    .salon-tab-content {
        padding: 25px 0;
    }
    .tab-links li {
        margin-top: 5px;
        margin-right: 0;
        border-radius: 0;
        width: 100%;
        text-align: left;
    }
    .filter-box {
        margin-bottom: 10px;
        text-align: center;
    }
}

.patrner-text{
    font-size: 12px !important;
}
.salon-card-base {
    height: 300px;
}
.salon-summary {
    padding: 10px 0;
    height: 180px;
    max-height: 180px;
}
.featured-imagebox.style3 .salon-thumb img {
    height: 200px !important;
}